name = "notesinsa"
main = "src/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "notes-insa-db"
database_id = "D1_DATABASE_ID"

[[kv_namespaces]]
binding = "RATE_LIMIT"
id = "KV_NAMESPACE_ID"

[vars]
# APP_SECRET = "SET_THIS_VIA_DASHBOARD"
# IP_SALT = "SET_THIS_VIA_DASHBOARD"
